.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.footer {
 background:#f6f6f6;
 padding:20px 0;
 border-top:2px solid orange;
}
.widget h2 {
 cursor:pointer;  
 font-size:18px;
 font-weight:bold;
 padding-bottom:5px;
}
.footer-bottom {
 background:#d8d8d8;
 padding:15px 0;
 border-top:1px solid #d9d9d9;
 font-size:11px;
 color:#777;
}
  
@media only screen and (max-width: 479px) {    
     .widget_content{
        display:none;
    }
    .active .widget_content{
    	display:inline;	
    }
    .widget h2 { 
        border-bottom:1px solid #ddd;
    }   
    .widget h2:after {
        content:"\203A";
        color:white;
        width:20px;
        height:20px;
        background:#999;
        display:inline-block;
        text-align:center;
        float:right;
    }
    .active.widget h2:after {
        content:"\2039";    
        background:#ccc;
    }
}

/*MEDIA SOCIAUX FOOTER*/


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}
@media  (max-width: 480px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

}
/*Formulaire nous joindre*/
section#contact {
    background-color: #8B4513;
    /*background-image: url('../images/imageRest2.jpg');
    background-position: center;
    background-repeat: no-repeat;*/
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}
.btn-submit{
    width: 100%;
    background-color: orange;
}
/*Section page commentaire*/
.label{
    color: black;
}

/*Page menu*/
.featurette-heading{
    margin-left : 40px;
}
