{% extends "layout.html" %}

{% block content %}
<div>
<h1  class="display-1">Vos commentaires</h1>
<h3>Questionnaire sur l'appréciation</h3>
<form>
<div class="input-item">
	<label class="label" for="pdate">Date de visite*</label>
	<div class="form_third">
		<input class="input js-required" type="date" name="date" id="pdate" value="">
	</div>
	<hr/>
</div>
<fieldset>
	<div class="grid -margin">
		<div class="half -margin">
			<div class="input-item">
				<label class="label" for="firstname">Prénom*</label>
				<input class="input js-required" type="text" id="firstname" name="firstname">
			</div>
			<div class="input-item">
				<label class="label" for="lastname">Nom*</label>
				<input class="input js-required" type="text" id="lastname" name="lastname">
			</div>
		</div>
		<div class="half -margin">
			<div class="input-item">
				<label class="label" for="phone">Téléphone*</label>
				<input class="input js-required" type="text" id="phone" name="telephone">
			</div>
			<div class="input-item">
				<label class="label" for="email">Courriel*</label>
				<input class="input js-required" type="email" id="email" name="email">
			</div>
		</div>
	</div>
</fieldset>

<hr class="hr -big-margin -form">

{% endblock %}