{% extends "layout.html" %}

{% block content %}
<div>
<h1  class="display-1">Vos commentaires</h1>
<h3>Questionnaire sur l'appréciation</h3>
<form>
<div class="input-item">
	<div class="form_third">
		<label class="label" for="pdate">Date de visite*</label>
		<input class="input js-required" type="date" name="date" id="pdate" value="">
	</div>
	<hr/>
	<div>
	<label class="label" for="nom">Nom *</label>
	<input class="input js-required" type="text" name="nom" id="nom">
	<label class="label" for="prenom">Prénom *</label>
	<input class="input js-required" type="text" name="prenom" id="prenom">
	<label class="label" for="tel">Téléphone *</label>
	<input class="input js-required" type="text" name="tel" id="tel">
	<label class="label" for="mail">Courriel *</label>
	<input class="input js-required" type="text" name="mail" id="mail">
	</div>

</div>
                    
</form>

</div>

{% endblock %}