{% extends "layout.html" %}

{% block content %}
<div>
<h1  class="display-1">Vos commentaires</h1>
<h3>Questionnaire sur l'appréciation</h3>
<form>
<div class="input-item">
						<label class="label" for="date">Date de visite*</label>
						<div class="form_thirds">
							<div class="form_third">
								<input class="input js-required" type="number" name="year" id="year" value="" maxlength="4" placeholder="Ann&eacute;e">
							</div>
							<div class="form_third">
								<input class="input js-required" type="number" name="month" id="month" value="" maxlength="2" placeholder="Mois">
							</div>
							<div class="form_third">
								<input class="input js-required" type="number" name="day" id="day" value="" maxlength="2" placeholder="Jour">
							</div>
						</div>
					</div>
                    
</form>

</div>

{% endblock %}