
<div class="footer">
    <div class="container">
    	<div class="row">
    		<div class="col-md-5 widget">
        	    <h2>Article</h2>
                <article class="widget_content">
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
                        <li>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae </li>
                        <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                 </ul>
                 </article>
    		</div>
            <div class="col-md-3 widget">
        	    <h2>Link</h2>
                <article class="widget_content">
                        <div class="col-md-12">
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>				
                            </div>
                 </article>
    		</div>
            <div class="col-md-4 widget">
                <h2>Contact Us</h2>
                <article class="widget_content">
                    <p>Jl. Lingkar Selatan, Kasihan, Bantul<br> Yogyakarta Indonesia 55183<br>Phone: +62 274 387656</p>
                </article>
    		</div>
    	</div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
    		<div class="col-md-12 widget">© 2014 | Created with Boostrap <span class="pull-right">Minimize your browser »</span>
            </div>
        </div>
    </div>
</div>