
<div class="footer">
    <div class="container">
    	<div class="row">
    		<div class="col-md-5 widget">
        	    <h2>Article</h2>
                <article class="widget_content">
                    <p>
                        Au restaurant Shems c'est la cuisine santé : Le poulet à son meilleur.
                        Notre spécialité : Shish Taouk.
                        Il s'agit de la poitrine de poulet marinées à base d'ail, de vinaigre,
                        de citron et d'épices orientales. Grillées et servies à votre goût. 
                        
                    </p>
                 </article>
    		</div>
            <div class="col-md-3 widget">
        	    <h2>Link</h2>
                <article class="widget_content">
                        <div class="col-md-12">
                                <ul class="social-network social-circle">
                                    <li><a href="https://www.facebook.com/Restaurantshems/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>				
                            </div>
                 </article>
    		</div>
            <div class="col-md-4 widget">
                <h2>Nous contactez</h2>
                <article class="widget_content">
                    <p>7565 boul. de la Rive Sud<br> (dernière le CÉGEP Lauzon)<br>Téléphone: +1418 603 3731</p>
                </article>
    		</div>
    	</div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
    		<div class="col-md-12 widget">© 2017 | Restaurant Libanais Shems <span class="pull-right">© 2017 | Restaurant Libanais Shems</span>
            </div>
        </div>
    </div>
</div>