{% extends "layout.html" %}

{% block content %}
<div class="container">
	<div class="row">
      <h1 class="text-center"><i class="glyphicon glyphicon-fire icon-4x"></i></h1>
      <h1 class="text-center"><strong>BIENVENUE AU RESTAURANT CHAMS</strong></h1>
      <p class="lead text-center">Un restaurant unique en son genre</p>
	</div>
  
	<div class="row">
      	<div class="col-lg-6">
          <div class="text-center">
            <h1>Nous sommes la pour vous servir avec nos dégustations marocaines</h1>
            <p>
              Tout pour vous les plats........................
            </p>
           
            <button class="btn btn-primary btn-lg">Go Here</button>
          </div>
      	</div>
      	<div class="col-lg-6">
          <div class="text-center">
      	 	<h1>Quoi de neuf</h1>
            <p>
          	Avec qualites et professionalisme...........</p>
          	
          	<button class="btn btn-primary btn-lg">Aller pour voir </button>
          </div>
      	</div>    
  </div>
 	
  <hr>
  
  <div class="row">
  	<div class="col-lg-12">
      <div class="col-lg-4">
      <h2>Nos promotions</h2>
       Le couscous.... :) 
      </div>
      <div class="col-lg-4">
      <h2>Notre localisation</h2>
        987 chemin saint foy...........
      </div>
      <div class="col-lg-4">
      <h2>Nous sommes la pour vous servire</h2>
        Le service est notre affaire............
      </div>
    </div>
	</div>
</div>
  
  <section>
  <div class="row">
    <div class="text-center">
    <a href="http://www.bootply.com"><i class="icon-facebook icon-3x"></i> </a> &nbsp; 
    <a href="http://twitter.com/bootply"><i class="icon-twitter icon-3x"></i></a> &nbsp; 
    <a href="http://pinterest.com/in1"><i class="icon-pinterest icon-3x"></i></a>
    </div>    
  </div>
  </section>

{% endblock %}
