{% extends "layout.html" %}

{% block content %}
<h1>MENU DU RESTAURANT SHEMS</h1>
<div class="row featurette">
    <h2 class="featurette-heading">ENTRÉES</h2>
    <div class="col-md-5">

    </div>
</div>

{% endblock %}