{% extends "layout.html" %}

{% block content %}
  <h2 class="titreTypeMenu">ENTRÉES</h2>
    <section class="section-white">
      <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../images/patates.JPG" alt="Image patates">
              <div class="carousel-caption">
                <h2>Patates assaisonnées à la libanaise</h2>
              </div>
            </div>
            <div class="item">
              <img src="../images/falafel.png"alt="Image falafel">
              <div class="carousel-caption">
                <h2>Falafel</h2>
              </div>
            </div>
            <div class="item">
              <img src="../images/salade-simple.JPG" alt="Image salade simple">
              <div class="carousel-caption">
                <h2>Salade simple</h2>
              </div>
            </div>
            <div class="item">
              <img src="../images/salade-variee.JPG" alt="Image salade variée">
              <div class="carousel-caption">
                <h2>Salade variée</h2>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

  </div>
</section>

{% endblock %}