 <nav class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Title</a>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex5-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Accueil</a></li>
      <li><a href="/galerie">Galerie</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/nousJoindre">Nous joindre</a></li>
      <li><a href="/commentaire">Commentaire</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
	<div class="row">
      <h1 class="text-center"><i class="glyphicon glyphicon-fire icon-4x"></i></h1>
      <h1 class="text-center"><strong>BIENVENU AU RESTAURANT CHAMS</strong></h1>
      <p class="lead text-center">Un restaurant unique en son genre</p>
	</div>
  
	<div class="row">
      	<div class="col-lg-6">
          <div class="text-center">
            <h1>Nous sommes la pour vous servire avec nos degustations marocaines</h1>
            <p>
              Tout pour vous les plats........................
            </p>
           
            <button class="btn btn-primary btn-lg">Go Here</button>
          </div>
      	</div>
      	<div class="col-lg-6">
          <div class="text-center">
      	 	<h1>Quoi de neuf</h1>
            <p>
          	Avec qualites et professionalisme...........</p>
          	
          	<button class="btn btn-primary btn-lg">Aller pour voir </button>
          </div>
      	</div>    
  </div>
 	
  <hr>
  
  <div class="row">
  	<div class="col-lg-12">
      <div class="col-lg-4">
      <h2>Nos promotions</h2>
       Le couscous.... :) 
      </div>
      <div class="col-lg-4">
      <h2>Notre localisation</h2>
        987 chemin saint foy...........
      </div>
      <div class="col-lg-4">
      <h2>Nous sommes la pour vous servire</h2>
        Le service est notre affaire............
      </div>
    </div>
	</div>
</div><!---/cont---->
  
  <section>
  <div class="row">
    <div class="text-center">
    <a href="http://www.bootply.com"><i class="icon-facebook icon-3x"></i> </a> &nbsp; 
    <a href="http://twitter.com/bootply"><i class="icon-twitter icon-3x"></i></a> &nbsp; 
    <a href="http://pinterest.com/in1"><i class="icon-pinterest icon-3x"></i></a>
    </div>    
  </div>
  </section>
  


<!--<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/">Accueil</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/nousJoindre">Nous joindre</a></li>
            <li><a href="/commentaire">Commentaire</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-book"></span> Connexion</a>
      </li>
    </ul>
  </div>
</nav>-->
