{% extends "layout.html" %}

{% block content %}
	<section id="contact" >
        <div class="container">
            <div class="row">
                <div class="about_our_company" style="margin-bottom: 20px;">
                    <h1 style="color:#fff;">Nous joindre</h1>
                    <div class="titleline-icon"></div>
                    <p style="color:#fff;">N'hésitez pas à nous écrire.Votre commentaire compte pour nous.  </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div id="sendEmail"></div>
                    <form name="sentMessage" id="contactForm" novalidate="" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Votre nom *" id="name" required="name" data-validation-required-message="Tapez votre nom s'il vous plaît.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Votre courriel *" id="email" required="email" data-validation-required-message="Tapez votre courriel s'il vous plaît.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Votre téléphone *" id="phone" required="phone" data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Votre message *" id="message" required="message" data-validation-required-message="Tapez votre adresse s'il vous plaît."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn-submit" Onubmit()="">Envoyer</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div class="col-md-4">
                    <p style="color:#fff;">
                        <strong><i class="fa fa-map-marker"></i> Adresse</strong><br>
                        Lévis.
                    </p>
                    <p style="color:#fff;"><strong><i class="fa fa-phone"></i> Numéro de téléphone</strong><br>
                        +1418-603-3731</p>
                    <p style="color:#fff;">
                        <strong><i class="fa fa-envelope"></i> Courriel</strong><br>
                        restaurantshems@gmail.com</p>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}